<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avl Data</title>
    <link rel="stylesheet" href="/bookSlot.css">
</head>

<body>

    <div class="data">

        <div class="sec">
            <div class="l">
                <div class="img">
                    <img src="/uploads/<%=data.img%>" alt="hell">
                </div>
                <div class="name">
                    <div class="ejs">
                        <%= data.hospitalName %>
                    </div>
                </div>
                <div class="des dess">
                    <h4 style="display: inline-block;">Emergency Available : </h4>
                    <div class="ejs">
                        <%= data.emergencyAvailable %>
                    </div>
                </div>


                <div class="des dess">
                    <h4 style="display: inline-block;">City : </h4>
                    <div class="ejs">
                        <%= data.city %>
                    </div>
                    &nbsp; &nbsp;
                    <h4 style="display: inline-block;">Pin Code : </h4>
                    <div class="ejs">
                        <%= data.pin %>
                    </div>
                </div>

                <div class="des dess">
                    <h4 style="display: inline-block;">Primary Phone : </h4>
                    <div class="ejs">
                        <%= data.hospitalPhone1 %>
                    </div>
                </div>

                <div class="des dess">
                    <h4 style="display: inline-block;">Secondary Phone : </h4>
                    <div class="ejs">
                        <%= data.hospitalPhone2 %>
                    </div>
                </div>

                <div class="des dess">
                    <h4 style="display: inline-block;">Primary Email : </h4>
                    <div class="ejs">
                        <%= data.hospitalEmail1 %>
                    </div>
                </div>


                <div class="line"></div>

                <div class="dname">
                    <div class="ejs">
                        <%= data.doctorName %>
                    </div>
                </div>

                <div class="des dess">
                    <h4 style="display: inline-block;">Specialization : </h4>
                    <div class="ejs">
                        <%= data.specialization %>
                    </div>
                </div>

                <div class="des dess">
                    <h4 style="display: inline-block;">Working Hour : </h4>
                    <div class="ejs">
                        <%= data.docWorkingHour %>
                    </div>
                </div>

                <div class="des dess ">
                    <h4 style="display: inline-block;">Consulting Fee : </h4>
                    <div class="rup" style="display: inline-block;">
                        <span>&#8377;</span>
                    </div>
                    <div class="ejs">
                        <%= data.consultingFree %>
                    </div>
                </div>
            </div>


            <div class="r">

                <div class="time">
                    <div class="timeSlot">
                        <h3>10:00 - 10:30 AM</h3>
                        <h3>10:30 - 11:00 AM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>11:00 - 11:30 AM</h3>
                    <h3>11:30 - 12:00 AM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>12:00 - 12:30 PM</h3>
                    <h3>12:30 - 1:00 PM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>1:00 - 1:30 PM</h3>
                    <h3>1:30 - 2:00 PM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>2:00 - 2:30 PM</h3>
                    <h3>2:30 - 3:00 PM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>3:00 - 3:30 PM</h3>
                    <h3>3:30 - 4:00 PM</h3>
                    </div>
                    <div class="timeSlot">
                        <h3>4:00 - 4:30 PM</h3>
                    <h3>4:30 - 5:00 PM</h3>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>
                <div class="slot">
                <% for(let i=0; i<=13; i++) { %>
                        <form action="/search/<%=id%>/book/<%=letter[i] %>" method="post">

                            <button type="submit" id="<%=letter[i]%>" class="btnn">
                                Register
                            </button>
                            
                        </form>
                            
                            <% } %>
                        </div>
            </div>







        </div>





    </div>





    <form action="/home" method="GET" style="display: inline-block;">
        <button type="submit">Back To Home</button>
    </form>

    <div class="space"></div>





</body>

</html>